.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container h3 {
  margin-bottom: 0px;
}

.recommend_movie_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

.all_movie_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
}
