.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recommend_movie_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
}

.all_movie_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 100%;
}
